body{
    background-image: url(../Images/AdobeStock_292571491_Preview.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#car{
    width: 30%;
    height:120px;
    background-image: url(../Images/NicePng_lamborghini-car-png_2547288.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: chocolate; */
    animation-name: ani_car;
    animation-duration: 7s;
    position: absolute;
    /* left: 30%; */
    top: 53%;
}
#wheel1{
    width: 16%;
    height: 62px;
    background-image: url(../Images/pngegg.png);
    /* background-color: yellow; */
    background-size:contain;
    background-repeat: no-repeat;
    animation-name: ani_wheel;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    left: 30px;
    top: 48px;
}
#wheel2{
    width: 16%;
    height: 62px;
    background-image: url(../Images/pngegg.png);
    /* background-color: yellow; */
    background-size:contain;
    background-repeat: no-repeat;
    animation-name: ani_wheel;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    left: 263px;
    top: 49px;
}

@keyframes ani_wheel{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes ani_car{
    0%{left: 0%;top: 53%;}
    /* 20%{left: 20%;top: 58%;}
    50%{left: 50%;top: 58%;}
    80%{left: 80%;top: 58%;} */
    100%{left: 70%;top: 53%;}
}